@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply bg-gray-900 text-gray-100;
}

.parallax {
  @apply fixed inset-0 w-full bg-cover bg-fixed bg-center bg-no-repeat opacity-20;
  background-image: url("/images/background.webp");
}
